*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.login-container{
  height: 100vh;
  width: 100%;
  display: flex;
  background: rgb(180,180,180);
  background: linear-gradient(0deg, rgb(205, 205, 205) 0%, rgb(239, 239, 239) 100%);
  
}
.contain-both{
  width: 40%;
  height: 80vh;
  background: rgba(255, 255, 255, 0.8);
  margin: auto auto;
  border-radius: 50px;
  box-shadow: 5px 10px 0.85em #888888;
}
.choices{
  height: 15%;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.choice{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  cursor:pointer;
}
.choice:hover{
  color: blueviolet;
}
.login{
  display: none;
  height: 85%;
}
.signup{
  display: none;
  height: 85%;
}
.show{
  display:block;
  padding-top:14px;
  border-radius: 0 0 50px 50px;
  background-color: #afafaf;
}
.flex{
  display: flex;
}
.line{
  padding: 0 40px;
  margin-bottom: 4px;
  justify-content: space-between;
  font-size: .8em;
}
.line input{
  padding-left: 3px;
  border: none;
}
.line input:focus{
  outline:none;
}
.active{
  cursor:default;
  border-radius: 50px 50px 0 0;
  background-color: #afafaf;
}
.active:hover{
  color: black !important;
}
.login button{
  width: 200px;
  height: 32px;
  margin: 8px 20px;
  border: none;
  border-radius: 15px;
}